<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.example">

  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <!-- ALSO ADD THIS PERMISSION IF TARGETING SDK 34 -->
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

  <application
    android:label="example"
    android:networkSecurityConfig="@xml/network_security_config"
    android:hardwareAccelerated="true"
    android:usesCleartextTraffic="true"
    android:icon="@mipmap/ic_launcher">

    <!-- Cast Options for ExoPlayer -->
    <meta-data
      android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
      android:value="com.google.android.exoplayer2.ext.cast.DefaultCastOptionsProvider" />

    <activity
      android:name=".MainActivity"
      android:launchMode="singleTop"
      android:theme="@style/Theme.AppCompat.NoActionBar"
      android:supportsPictureInPicture="true"
      android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
      android:hardwareAccelerated="true"
      android:windowSoftInputMode="adjustResize"
      android:exported="true">

      <!-- Theme for the activity before Flutter UI initializes -->
      <meta-data
        android:name="io.flutter.embedding.android.NormalTheme"
        android:resource="@style/NormalTheme" />

      <!-- Splash Screen drawable -->
      <meta-data
        android:name="io.flutter.embedding.android.SplashScreenDrawable"
        android:resource="@drawable/launch_background" />

      <!-- Main intent filter -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service android:name="com.ryanheise.audioservice.AudioService"
      android:foregroundServiceType="mediaPlayback"
      android:exported="true">
      <intent-filter>
        <action android:name="android.media.browse.MediaBrowserService" />
      </intent-filter>
    </service>

    <receiver android:name="com.ryanheise.audioservice.MediaButtonReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MEDIA_BUTTON" />
      </intent-filter>
    </receiver>


    <!-- Required by Flutter to generate plugin registrations -->
    <meta-data
      android:name="flutterEmbedding"
      android:value="2" />
  </application>
</manifest>